body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #388E3C;
  padding: 10px 20px;
  color: white;
  position: relative;
  z-index: 1;
}

img.notification-icon {
  width: 30px;
  height: 30px;
}

#content {
  max-height: 160px !important;
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; 
}

.popup2 {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: none;
  max-height: 258px;

  position: fixed;
  inset: 0;
  margin: auto;
}

.popup2 h1 {
  text-align: center;
}

.popup footer {
  width: 100%;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 50%;
  margin: 0 auto;
}

.overlay2 {
  backdrop-filter: blur(10px);
}

.active {
  overflow: hidden;
}

.open {
  animation: fadeExpandIn 0.3s ease-out forwards;
}

.closed {
  animation: fadeExpandOut 0.3s ease-in forwards;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  color: #388E3C;
}

/* Lista de navegação */
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #388E3C;
  flex-direction: column;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
}

.nav-list li {
  margin: 20px 0;
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #66ff66;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.button-admin {
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #e65c5c;
  cursor: pointer;
}

.button-admin:hover {
  background-color: #c22121;
}

.right span {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  transition: width 0.3s, height 0.3s;
}

.dropdown-arrow {
  content: '▼';
  font-size: 12px;
  color: white;
  margin-left: 5px;
}

.profile-dropdown a {
  font-size: 12px;
  margin-left: 5px;
}

/* Menu de opções */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #388E3C;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  min-width: 150px;
  text-align: left;
  z-index: 1;
}

.dropdown-menu a {
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #66ff66;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.notification-item {
  visibility: hidden;
  position: absolute;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #5c5858;
  opacity: 0 !important;
  transform: translateX(-50%);
  animation: fadeInFromLeft 0.5s forwards;
}

.notification-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.notification-item h2 {
  font-size: 20px;
  margin: 0;
}

.notification-item p {
  font-size: 16px;
  margin: 0;
  color: #5c5858;
  margin-left: 5px;
}

.notification-item.visible {
  visibility: visible;
  position: relative;
  display: flex;
  opacity: 1 !important;
  transform: translateX(0);
}

.notification-item.visible span {
  display: none;
}

.notification-item.visible.lida {
  background-color: #d3d3d3;
}

.assunto {
  display: flex;
  align-items: center
}

.notification-item.visible .assunto.lida span {
  display: block;
  color: #388E3C;
  font-size: 12px;
  margin-left: 5px;
  border: 1px solid #388E3C;
  border-radius: 50%;
  padding: 2px;
}

.notification-item.visible .notification-content {
  cursor: pointer;
}

.popup2 footer button {
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.popup2 footer button#back {
  background-color: #ff4747;
}

.popup2.expanded header h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.expanded {
  max-height: 400px;
  animation: expandNotification 0.5s forwards;
}

.popup2.expanded * {
  animation: fadeIn 0.35s forwards;
  opacity: 1;
}

.popup2.expanded #content {
  padding: 10px;
  padding-top: 20px;
  height: 80%;
}

/* [ SECTION ] Configurações notificações de alerta */

.popup {
  width: 500px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 1001;
  
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  position: fixed;
  inset: 0;
  margin: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup.active {
  animation: fadeExpandIn ease-out 0.5s forwards;
  display: block;
}

.overlay.active {
  display: block;
}

.popup.close {
  display: block;
  animation: fadeExpandOut ease-in 0.5s forwards;
}

.popup header, .popup main, .popup footer {
  text-align: center;
}

.popup main {
  min-height: 70px;
}

.popup footer button {
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  background-color: #388E3C;
  transition: all 0.3s ease;
}

.popup footer button:hover {
  background-color: green;
}

.popup header h1 {
  color: #388E3C;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.mark-as-read {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  border-radius: 0 !important;
}

/* [ SECTION ] Configuração da notificação de feedback */

.estrelas {
  display: flex;
  gap: 10px;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.estrela {
  color: #ccc;
  transition: color 0.3s;
}

.estrela.filled {
  color: #f5b301;
}

#feedback-btn {
  background-color: #388E3C;
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 30px;
}

.popup h2 {
  color: #388E3C;
  margin-top: 50px;
}



/* [ SECTION ] Animações */

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expandNotification {
  from {
    height: 258px;
  } to {
    height: 400px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fadeExpandIn {
  from {
    opacity: 0;
    transform: scale(0.2);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeExpandOut {
  from {
    opacity: 1;
    transform: scale(1);
  } to {
    opacity: 0;
    transform: scale(0.2);
  }
}


/* Responsividade - Ajustes para telas pequenas */
@media (max-width: 768px) {
  .nav-list {
    max-height: 0;
    top: 60px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
  }

  .nav-list.show {
    max-height: 500px;
  }

  .nav-list li {
    margin: 10px 0;
    text-align: center;
  }

  .right {
    justify-content: flex-end;
  }

  .profile-icon img {
    width: 25px;
    height: 25px;
  }

  .dropdown-arrow {
    font-size: 10px;
  }

  .dropdown-menu {
    min-width: 120px;
  }
}

/* Responsividade para telas de 430px */
@media (max-width: 430px) {
  .profile-icon img {
    width: 20px;
    height: 20px;
  }

  .dropdown-arrow {
    font-size: 8px;
  }

  .button-admin {
    font-size: 12px;
    padding: 4px 8px;
  }

  .right span {
    font-size: 12px;
  }
}

/* Para o desktop - Ajustes de exibição */
@media (min-width: 768px) {
  .nav-list {
    position: relative;
    top: 0;
    max-height: none;
    flex-direction: row;
    margin-left: 0;
    margin-top: 0;
  }

  .hamburger {
    display: none;
  }

  .nav-list li {
    margin: 0 15px;
  }
}