@import url(style.css);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.button-adm {
    max-width: 250px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.button-adm:hover {
    transform: translateY(-10px);
}

.horario, .historico, .diario, .feedback, .cardapio {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.horario img, .historico img, .diario img, .feedback img, .cardapio img {
    width: 100%;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    color: #388E3C;
}

label {
    margin-bottom: 8px;
}

/* Responsividade - Para dispositivos com largura até 768px */
@media (max-width: 768px) {
    .img-logo {
        width: 100%;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    } 
}

/* Responsividade - Para dispositivos com largura até 430px */
@media (max-width: 430px) {
    .img-logo {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
}
