@import url(style.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden  Impede rolagem vertical e horizontal 
}


/* elementos do html */
main
{
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: center;
}


main div 
{
    width: 400px;
}


/* classes */

.form {
    max-width: 400px;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #b4b4b4;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.form .input {
    width: 210px;
    min-height: 41px;
    max-height: 85px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 10px 0;
    border: 1px solid #ddd; 
    border-radius: 4px;
    box-sizing: border-box;
}

.form div 
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
}

.form a
{
    margin-top: 30px;
    color: var(--medium-green);
}

.form a:hover
{
    text-decoration: underline;
}

.titulo-principal
{
    margin-bottom: 20px;
}

.transbordamento
{
    overflow: auto; /* Caso haja um transbordamento será adicionado uma barra de rolagem */
}



/* popup */

main #popup-perfil-wrapper
{
    width: 100%;

    display: none;

    position: absolute;

    /*background-color: rgba(0, 0, 1, 0.568);*/
}

main #popup-perfil-wrapper button
{
    padding: 10px;
}

main #popup-perfil-wrapper form 
{
    max-width: 500px;
    position: relative;
}

main #popup-perfil-wrapper form div
{
    padding: 0;
}

main #popup-perfil-wrapper form button
{
    margin-top: 25px;
    background-color: var(--medium-green);
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 600;
}

main #popup-perfil-wrapper #popup-perfil-close
{
    width: auto;

    position: absolute;
    right: 18px;
    top: 11px;

    font-weight: 900;
    color: red;

    cursor: pointer;
}

/* Media Querys */

/* Media Query para telas de 768px ou menores */
@media (max-width: 768px) {
    
}

/* Media Query para telas de 430px ou menores */
@media (max-width: 430px) {
    
}
