/* @import url(navbar.css); */

:root {
    --light-green: #388E3C;
    --dark-green: #274E13;
    --medium-green: #337A30;
    --gray: #706f6f;
    --salmon: #f75252;
    --medium-salmon: #d63838;
  }
  
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

template {
  visibility: hidden;
  position: absolute;
}

body{
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column; /* Adicione essa linha */
  justify-content: space-between;
  min-height: 100vh; /* Garantir que a altura mínima seja 100% da viewport */
}

.session-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #388E3C;
  color: white;
  flex-grow: 1; /* Adicione essa linha */
}

nav {
  background-color: #388E3C;
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left {
  display: flex;
}

nav .right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid var(--medium-green);
  transition: all 0.3s ease;
}

nav a:hover { color: rgb(192, 192, 192); }

.button-admin a:hover { background-color: var(--medium-salmon); }

.notification-icon {
  display: inline-block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.notification-icon img {
  width: 100%;
  height: auto;
}

.button-admin  a:hover { background-color: var(--medium-salmon);}

.right { margin-left: auto; }

.session-2 {
  width: 100%;
  min-height: 500px;
  background: url("../assets/ifba_campus-seabra_fotomarivaldo-oliveira.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; /* Adicione essa linha */
}

.session-2 div {
  width: 50%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.custom-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: var(--light-green); 
  border: 2px solid var(--medium-green); 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
  margin-left: -255px;
}

.custom-button:hover {
  background-color: var(--medium-green); 
  color: #fff; 
}

.custom-button-2 {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: var(--salmon); 
  border: 2px solid var(--medium-salmon);
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
}

.custom-button-2:hover {
  background-color: var(--medium-green); 
  color: #fff; 
}

.title {
  font-weight: bolder;
  margin-bottom: 10px;
  color: var(--light-green);
  font-size: 50px;
}

.text {
  margin-bottom: 20px;
  color: gray;
}

.image {
  width: 100%; 
  background-color: white;
  margin-top: 10px;
  margin-bottom: -2px;
}

.menu-section {
  padding-bottom: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--light-green);
}

.menu-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  width: 200px;
  margin: 20px;
}

.image {
  background-color: #fdfdfd;
  display: flex; /* Para centralizar a imagem */
  justify-content: center; /* Centraliza a imagem horizontalmente */
  margin-bottom: -20px; /* Ajuste a margem inferior se necessário */
}

.image img {
  width: 100%; /* Use 100% para ocupar a largura do contêiner */
  max-width: 300px; /* Defina um tamanho máximo para a imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.menu-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--light-green);
}

.menu-info {
  font-size: 16px;
  color: gray;
}

.session-cardapio{
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Footer */
.logo {
  width: 400px; 
  height: auto;
}

.copyright {
  text-align: center;
}

.button-admin{
  padding: 10px;
  color: white;
  background-color: var(--salmon);
  border-radius: 5px;
}

img {
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3{
  color: #337A30;
}

.session-3 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  flex-direction: column; /* Alinha itens verticalmente */
  flex-grow: 1; /* Adicione essa linha */
}

.session-3 .content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.session-3 .image {
  display: flex; /* Para centralizar a imagem */
  justify-content: center; /* Centraliza a imagem horizontalmente */
}

.session-3 .image img {
  width: 300px; /* Largura fixa */
  height: auto; /* Mantém a proporção */
  max-width: 100%; /* Adapta ao contêiner, mas não o ultrapassa */
}


.session-4 {
  background-color: #388E3C;
  --container-padding-horizontal: 32px;
  position: relative;
  padding-inline: var(--container-padding-horizontal);
  display: flex; /* Use flexbox para alinhar os itens */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 10px; /* Altura da seção */
  flex-grow: 1;
  margin-top: -20px; /* Ajuste a margem superior para conectar à imagem */
}

.session-4-1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #388E3C;
  --container-padding-horizontal: 32px;
  padding-inline: var(--container-padding-horizontal);
  place-items: center;
  height: 100px;
}

.session-5 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  flex-direction: column; /* Alinha itens verticalmente */
  flex-grow: 1; /* Adicione essa linha */
}

.custom-button-2 {
  margin-bottom: 50px;
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: var(--salmon); 
  border: 2px solid var(--salmon);
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
}

.custom-button-2:hover {
  background-color: #ff3535; 
  color: #fff; 
}

.rodape {
  background-color: #388E3C;
  color: #fff;
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 400px; 
  height: auto;
}
  
.copyright {
  text-align: center;
}

.comunicados{
  color: #fff;
  font-size: 32px;
}


/* Estrutura Instagram */
.card {
  /* width: fit-content;
  height: fit-content; */
  width: 360px;
  height: 480px;
  border: #ffffff 2px solid;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .top .userDetails {
  display: flex;
  align-items: center;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .top .userDetails h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1em;
}

.card .top .userDetails h3 span{
  font-size: 0.75em;
}

.dot{
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx{
  margin: 10px 0 15px;
}

.actionBtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtns img{
  max-width: 24px;
  cursor: pointer;
}

.actionBtns .left img{
  margin-right: 8px;
}


/* Carrossel */
.carousel-container {
  overflow: hidden;
}
    
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
    
.carousel a {
  flex: 0 0 320px;
}
    
.carousel img {
  position: relative;
  width: 100%;
  height: 320px;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px 20px;
  background-color: var(--light-green);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 0 5px;
}

.button:hover {
  background-color: var(--dark-green);
}

.botao-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancelar, .validar {
  padding: 5px 5px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cancelar {
  background-color: #f75252;
  color: #fff;
  background-image: url('../assets/cancelar-100px.png');
}

.validar {
  background-color: #388E3C;
  color: #fff;
  background-image: url('../assets/validar-100px.png');
}

.cancelar:hover,
.validar:hover {
  filter: brightness(0.9);
}

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 50px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.filtro-container {
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  border-collapse: collapse;
  box-shadow: 5px 5px 10px lightblue;
  background-color: #388E3C;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  width: 80%;
  margin-top: 20px;
}

/* Estilo para o pop-up de notificações */
.notification-item.null {
  text-align: center;
}

/* Fundo escurecido */

.enviado {
  width: 350px;
  height: 150px;
  animation: sendMsg 0.5s backwards;
}

#popup {

  position: fixed;
  inset: 0;
  margin: auto;
}


/* Fundo escurecido */

/* Estilo do botão de fechar */
.close-btn-2 {
  background-color: #ff4747 !important;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn-2:hover {
  background-color: #ff3030 !important;
}


/* ANIMAÇÕES */
/* @keyframes showPopup {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hidePopup {
  0% {
    opacity: 1;
    transform: translateY(0);
  } 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes extendPopup {
  0% {
    height: 300px;
  } 100% {
    height: 395px;
  }
}

@keyframes sendMsg {
  0% {
    height: 360px;
    width: 500px;
  } 100% {
    height: 150px;
    width: 350px;
  }
} */

@media only screen and (max-width: 768px) {
  .img-logo {
    width: 90%;
  }

  .session-2 div {
    text-align: center !important;
  }

  .session-3 {
    flex-direction: column;
  }

  .card {
    width: 100% !important;
    height: auto !important;
  }

  .carousel img {
    width: 100% !important;
    height: auto !important;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 10px 0;
  }

  .notification-icon {
    display: inline-block;
    width: 60px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .notification-icon img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 430px) {
  .img-logo {
    width: 100%;
  }

  .session-2 div {
    width: 100%;
    text-align: right !important;
  }

  .session-3 {
    flex-direction: column;
  }

  .card {
    width: fit-content !important;
    height: fit-content !important;
  }

  .carousel img {
    width: 100% !important;
    height: fit-content !important;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
  }
  
  .notification-icon {
    display: inline-block;
    width: 60px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .notification-icon img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) {
  p.text {
    font-size: 25px;
  }
}