.popup {
  width: 500px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
}

.popup.active {
  animation: fadeIn ease-out 0.5s forwards;
  display: block;
}

.overlay.active {
  overflow: hidden;
  display: block;
}

.popup.close {
  display: block;
  animation: fadeOut ease-in 0.5s forwards;
}

.popup header, .popup main, .popup footer {
  text-align: center;
}

.popup main {
  min-height: 70px;
}

.popup footer button {
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  background-color: chartreuse;
  transition: all 0.3s ease;
}

.popup footer button:hover {
  background-color: green;
}

.popup header h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}